.nameField, .emailField, .bioField {
	margin: 10pt 2%;
	width: 38%;
}

.bioField {
	width: 80%;
}

.cancelButton, .submitButton {
	background-color: lightgray;
	color: black;
	margin: 0pt 10pt;
}

.submitButton {
	background-color: yellow;
}
